@using PierresTracker.Models;

<h1>Orders</h1>

<ul>
  @foreach(Order order in Model)
  {
    <li>@Html.ActionLink($"{order.Title}", "Details", new { id = order.OrderId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new item", "Create")</p>